.toolbar-background-md{
    border-color: none !important;
    background:none !important;
    background-image: none !important;
}
.header::after{
    background-image: none !important;
}

.defaultClass{
    border-radius: 0 6vw 6vw 0;
    width: 73vw;
    z-index: 99999;
    &.active{
        background: #dedfff;
    }
}